html,
body {
    background: var(--body-background);
    margin: 0;
    color: var(--body-color);
    font-family: 'Google Sans', sans-serif;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal !important;
    margin: 0
}

a {
    font-family: 'Google Sans Bold', sans-serif;
    color: var(--url-color);
}

.titlebar {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    display: none;
}

.channelbar,
.currentguild {
    -webkit-app-region: drag;
}

.posabs {
    position: absolute;
}

.servers {
    height: 100vh;
    width: 80px;
    top: 0;
    left: 0;
    background: var(--serverlist-background);
}

.sidebar {
    height: 100vh;
    width: 300px;
    top: 0;
    left: 80px;
}

.chat {
    height: 100vh;
    width: calc(100vw - 380px);
    top: 0;
    left: 380px;
}

.channelbar {
    background: var(--channel-headerbar-background);
    width: calc(100vw - 518px);
    height: 60px;
    top: 0;
}

.messages {
    background: var(--channel-background);
    width: calc(100vw - 380px);
    height: calc(100vh - 120px);
    bottom: calc(60px - (100vh));
    overflow-y: scroll;
}

.typingbar {
    background: var(--channel-messagebarcontainer-background);
    width: calc(100vw - 380px);
    height: 60px;
    bottom: -60px;
}

.currentguild {
    background: var(--guildbar-header-background);
    width: 300px;
    height: 60px;
    top: 0;
}

.controls {
    background: var(--userbar-background);
    width: 300px;
    height: 60px;
    bottom: 0;
}

.controls .settings {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    cursor: pointer;
}

.controls .user .profile * {
    position: absolute;
    user-select: none;
}

.controls .user .profile .picture {
    width: 40px;
    height: 40px;
    border-radius: 99px;
    top: 10px;
    left: 10px;
    background-size: contain;
}

.controls .user .profile .status {
    width: 10px;
    height: 10px;
    border-radius: 99px;
    background: var(--status-online);
    top: 10px;
    left: 38px;
    border: 3px solid var(--userbar-background);
    transition: .2s;
}

.controls .user .profile .username {
    width: 180px;
    top: 11px;
    left: 60px;
    font-size: 20px;
    font-family: 'Google Sans Medium', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.controls .user .profile .discriminator {
    width: 100px;
    color: var(--user-discriminator);
    top: 33px;
    left: 60px;
    font-size: 14px;
    font-family: 'Google Sans Italic', sans-serif;
}

.controls .user {
    width: 200px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
}

.settings i {
    position: absolute;
    font-size: 24px;
    user-select: none;
    transform: translate(-50%, -50%);
    top: 30px;
    left: 30px;
}

.statuscard {
    position: absolute;
    background: var(--statuscard-background);
    width: 250px;
    height: 350px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    left: 25px;
    border-radius: 10px;
    box-shadow: 0px 6px 25px -8px var(--statuscard-shadowcolor);
    z-index: 50;
}

.statuscard h1 {
    margin: 10px;
    font-family: 'Google Sans Bold', sans-serif;
    text-align: center;
    user-select: none;
}

ul {
    padding: 0;
    margin: 0;
}

.statuscard ul div h2 {
    display: inline-block;
    font-size: 18px;
    user-select: none;
}

.statuscard ul div h3 {
    position: absolute;
    font-size: 14px;
    margin-left: 30px;
    color: var(--statuscard-description-color);
    user-select: none;
}

.statuscard ul div .bubble {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
    user-select: none;
}

.statuscard ul div {
    height: 70px;
    background: var(--statuscard-option-background);
    margin-top: 10px;
    cursor: pointer;
    transition: .15s;
}

.statuscard ul div:hover {
    background: var(--statuscard-option-background-hover);
}

.statuscard ul div:active {
    transform: scale(.95)
}

.statuscard ul div.online,
.statuscard ul div.invisible {
    height: 53px;
}

.statuscard ul .online .bubble {
    background: var(--status-online);
}
.statuscard ul .away .bubble {
    background: var(--status-idle);
}
.statuscard ul .dnd .bubble {
    background: var(--status-dnd);
}
.statuscard ul .invisible .bubble {
    background: var(--status-offline);
}

.shade {
    position: absolute;
    width: 100vw;
    height: 0;
    bottom: 0;
    left: 0;
    background: #0000;
    z-index: 49;
    transition: .3s;
}

.shade.show {
    height: 100vh;
    background: var(--shade-background);
}

.servers {
    overflow-y: scroll;
}

.server {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 15px 10px;
    transition: .3s;
}

.server:hover {
    border-radius: 15px;
    cursor: pointer;
}

.server:active {
    border-radius: 5px !important;
    transform: scale(.9);
}

.server.active {
    border-radius: 15px;
}

.currentguild * {
    user-select: none;
    position: relative;
}

.currentguild .guildicon {
    top: 18px;
    left: 16px;
}

.currentguild .guildname {
    top: -14px;
    left: 53px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 230px;
    font-family: 'Google Sans Bold', sans-serif;
}

.channelname {
    user-select: none;
    position: relative;
    top: 12px;
    left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100vw - 550px);
}

.channellist {
    margin-top: 160px;
    opacity: 0;
    overflow-y: scroll;
    height: calc(100% - 60px);
    background: var(--guildbar-background);
}

.channel {
    background: var(--guildbar-channel-background);
    width: calc(100% - 40px);
    margin: 20px;
    height: 40px;
    border-radius: 5px;
    transition: .3s;
}

.channel:hover {
    border-radius: 10px;
    background: var(--guildbar-channel-background-hover);
    cursor: pointer;
    transition: .3s;
}

.channel:active {
    border-radius: 50px;
    transform: scale(.9);
    transition: .15s;
}

.channel.active {
    color: var(--channel-active-color);
    background: var(--channel-active-background);
}

.channel .type {
    margin: 8px;
    user-select: none;
}

.channel .name {
    position: relative;
    top: -31px;
    left: 40px;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 210px;
    display: block;
}

.seperator .name {
    margin-left: 20px;
    font-size: 12pt;
    font-family: 'Google Sans Bold', sans-serif;
    color: var(--channels-seperators-color);
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 260px;
    display: block;
}

.seperator {
    margin-bottom: -10px;
    margin-top: 30px;
}

.typingbar .message {
    background-color: var(--channel-messagebar-background);
    color: var(--body-color);
    border: 0;
    font-family: 'Google Sans', sans-serif;
    font-size: 14pt;
    resize: none;
    height: 30px;
    width: calc(100% - 30px);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

*:enabled,
*:active,
*:focus {
    outline: none;
}

div.message {
    width: calc(100% - 70px);
    padding: 10px;
    border-radius: 10px;
    background: var(--message-background);
    margin: 10px 25px;
    overflow: scroll;
}

div.message:last-child {
    margin-bottom: 25px
}

div.message:first-child {
    margin-top: 25px
}

.message .author {
    font-family: 'Google Sans Bold', sans-serif;
    font-size: 16px;
    margin-left: 3px;
}

.message .profile {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    border-radius: 8px;
    position: relative;
    top: 2px;
    left: 2px;
}

.content code.hljs {
    border-radius: 5px;
    font-family: 'Fira Code Medium', monospace;
    background: var(--codeblock-background);
    color: var(--codeblock-color);
    display: inline-block;
}

.content code {
    font-family: 'Fira Code Medium', monospace;
    background: var(--code-background);
    color: var(--code-color);
    padding: 2px 5px;
    border-radius: 5px;
}

.d-mention {
    background-color: var(--mention-background);
    padding: 0 3px;
    border-radius: 3px;
}

img,
video {
    max-width: 100%;
    border-radius: 5px;
}

.commander {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 150px;
    left: 50vw;
    width: 650px;
    height: 100px;
    background: var(--commander-background);
    border-radius: 15px;
    z-index: 50;
    box-shadow: 0px 15px 30px -10px var(--commander-shadowcolor);
}

.commander h1 {
    font-size: 36px;
    font-family: 'Fira Code Medium', monospace;
    margin: 27.5px;
    width: 595px;
    overflow-x: scroll;
    white-space: nowrap;
}

.commander h1::after {
    content: var(--autocomplete);
    color: #fff3;
    font-family: 'Fira Code', monospace;
}

.botTag {
    display: inline;
    padding: 0px 3px;
    background: var(--author-bottag-background);
    color: var(--author-bottag-color);
    border-radius: 3px;
}